---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Digital Asset Staking | Validator & Delegate Crypto',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68e5b2a4f57dfd1a77a9d3bc&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
    <Fragment slot="title">
            <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/91904867-6144-4f51-b3b2-34f41b37f8f4/HTIeBdaGsH.lottie" speed="1" style="width: 100%; height: 130px" mode="forward" loop autoplay></dotlottie-wc>
      <span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white"> Let's Exchange</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Limitless Web3.0</span> Crypto Exchange
        </span
       
      >
      <CallToAction
    actions={[
   
    ]}
  >
    <Fragment slot="title">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
    </Fragment>

    <Fragment slot="subtitle">
   
                  
import { SquidWidget } from "@0xsquid/widget";

<SquidWidget config={{
  "integratorId": "squid-widget-studio",
  "theme": {
    "borderRadius": {
      "button-lg-primary": "3.75rem",
      "button-lg-secondary": "3.75rem",
      "button-lg-tertiary": "3.75rem",
      "button-md-primary": "1.25rem",
      "button-md-secondary": "1.25rem",
      "button-md-tertiary": "1.25rem",
      "button-sm-primary": "1.25rem",
      "button-sm-secondary": "1.25rem",
      "button-sm-tertiary": "1.25rem",
      "container": "1.875rem",
      "input": "9999px",
      "menu-sm": "0.9375rem",
      "menu-lg": "1.25rem",
      "modal": "1.875rem"
    },
    "fontSize": {
      "caption": "0.875rem",
      "body-small": "1.14375rem",
      "body-medium": "1.40625rem",
      "body-large": "1.75625rem",
      "heading-small": "2.1875rem",
      "heading-medium": "3.08125rem",
      "heading-large": "4.40625rem"
    },
    "fontWeight": {
      "caption": "400",
      "body-small": "400",
      "body-medium": "400",
      "body-large": "400",
      "heading-small": "400",
      "heading-medium": "400",
      "heading-large": "400"
    },
    "fontFamily": {
      "squid-main": "GeistVariable, sans-serif"
    },
    "boxShadow": {
      "container": "0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 5px 50px -1px rgba(0, 0, 0, 0.33)"
    },
    "color": {
      "grey-100": "#FBFBFD",
      "grey-200": "#EDEFF3",
      "grey-300": "#D1D6E0",
      "grey-400": "#A7ABBE",
      "grey-500": "#00c26f",
      "grey-600": "#676B7E",
      "grey-700": "#4C515D",
      "grey-800": "#292C32",
      "grey-900": "#17191C",
      "royal-300": "#D9BEF4",
      "royal-400": "#B893EC",
      "royal-500": "#9E79D2",
      "royal-600": "#8353C5",
      "royal-700": "#6B45A1",
      "status-positive": "#7AE870",
      "status-negative": "#FF4D5B",
      "status-partial": "#F3AF25",
      "highlight-700": "#E4FE53",
      "animation-bg": "#040422",
      "animation-text": "#FBFBFD",
      "button-lg-primary-bg": "#9E79D2",
      "button-lg-primary-text": "#FBFBFD",
      "button-lg-secondary-bg": "#FBFBFD",
      "button-lg-secondary-text": "#292C32",
      "button-lg-tertiary-bg": "#292C32",
      "button-lg-tertiary-text": "#D1D6E0",
      "button-md-primary-bg": "#9E79D2",
      "button-md-primary-text": "#FBFBFD",
      "button-md-secondary-bg": "#FBFBFD",
      "button-md-secondary-text": "#292C32",
      "button-md-tertiary-bg": "#292C32",
      "button-md-tertiary-text": "#D1D6E0",
      "button-sm-primary-bg": "#9E79D2",
      "button-sm-primary-text": "#FBFBFD",
      "button-sm-secondary-bg": "#FBFBFD",
      "button-sm-secondary-text": "#292C32",
      "button-sm-tertiary-bg": "#292C32",
      "button-sm-tertiary-text": "#D1D6E0",
      "input-bg": "#17191C",
      "input-placeholder": "#676B7E",
      "input-text": "#D1D6E0",
      "input-selection": "#D1D6E0",
      "menu-bg": "#17191CA8",
      "menu-text": "#FBFBFDA8",
      "menu-backdrop": "#FBFBFD1A",
      "modal-backdrop": "#17191C54"
    }
  },
  "themeType": "dark",
  "apiUrl": "https://v2.api.squidrouter.com",
  "tabs": {
    "swap": true,
    "buy": true,
    "send": false
  },
  "priceImpactWarnings": {
    "warning": 3,
    "critical": 5
  },
  "initialAssets": {},
  "loadPreviousStateFromLocalStorage": true
}} />

                   
 </Fragment>
    </CallToAction>
      <span class="block mb-1 sm:hidden font-bold text-White-600">Fast crypto exchange</span>
  
The average time for exchange is about 2 minutes. You can track the crypto swap progress on the exchange page..
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "2c01a9e0-8e95-436f-87f7-9a86bae5fedf"
  });
</script>
</Layout>
