---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/e7bacc68-73f6-4487-a9ac-5e5406e0a358/PMm5QlGcR2.lottie" speed="1" style="width: 70px; height: 70px" mode="forward" loop autoplay></dotlottie-wc>
</span>
